/* 
* @Author: anchen
* @Date:   2016-07-31 22:59:57
* @Last Modified by:   anchen
* @Last Modified time: 2016-08-02 19:09:19
*/
@charset 'utf-8';
@font-face {
    font-family: "fzltdhjw";
    src: local("fzltdhjw"), url("../font/fzltdhjw.TTF") format("truetype");
}
@font-face {
    font-family: "fzqkbysjw";
    src: local("fzqkbysjw"), url("../font/fzqkbysjw.TTF") format("truetype");
}
html, body {
    min-width: 320px;
    height: 100%;
}
.wrap-wlf {
    width: 100%;
    height: 100%;
}
.select-wrap-wlf {
    width: 100%;
    height: 100%;
    background: url("../images/back.png");
    background-size: 100% 100%;
}
.sis-select, .broandbrosis-select, .sofa-select, .dad-mom-select {
    width: 100%;
    height: 8.83rem;
}
.sis-select {
    position: relative;
    z-index: 100;
}
.broandbrosis-select {
    position: relative;
    z-index: 101;
}
.sis-select-con {
    position: absolute;
    width: 15.63%;
    top: 3rem;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
       -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
         -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}
.sis-select-con img {
    float: left;
    display: block;
    width: 74%;
    height: 8.42rem;
}
.sis-select-con span, .bro-select-con span, .bro-sis-select-con span, .mom-select span, .dad-select span {
    float: left;
    display: block;
    width: 20%;
    padding-top: 3rem;
    color: #550000;
    font-family: "fzqkbysjw";
    font-size: 1.42rem;
}
.bro-select-con {
    float: left;
    width: 15.63%;
    margin-left: 5%;
}
.bro-select-con img {
    float: left;
    display: block;
    width: 77%;
    height: 8.54rem;
}
.bro-sis-select-con {
    float: right;
    width: 33.78%;
    margin-right: 3%;
}
.bro-sis-select-con img {
    float: left;
    display: block;
    width: 77.36%;
    height: 7.5rem;
}
.sofa-select p {
    color: #500;
    font-family: "fzqkbysjw";
    font-size: 1rem;
    text-align: center;
    line-height: 1.2rem;
    -webkit-transform: rotateZ(-5deg);
       -moz-transform: rotateZ(-5deg);
        -ms-transform: rotateZ(-5deg);
         -o-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
}
.sofa-select img {
    display: block;
    width: 43.59%;
    height: 6.5rem;
    margin: 0 auto;
}
.mom-select {
    float: left;
    width: 22.63%;
    margin-left: 10%;
}
.mom-select img {
    float: left;
    display: block;
    width: 75%;
    height: 8.17rem;
}
.dad-select {
    float: right;
    width: 15.63%;
    margin-right: 14%;
}
.dad-select img {
    float: left;
    display: block;
    width: 77%;
    height: 8.17rem;
}
.intro-wlf {
    padding-top: 1.5rem;
    color: #1b0000;
    font-size: 0.83rem;
    font-family: "fzltdhjw";
    text-align: center;
}
@media screen and (max-height: 480px) {
    .select-wrap-wlf {
        padding-bottom: 8rem;
    }
}