$a8bg: rgba(0, 0, 0, 0.8);
$pinkc: #4285f4;
.wrap {
	.navbar {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		border-radius: 0;
	}
}
.header {
	background: $a8bg;
	.navbar-brand {
		width: 108px;
		height: 30px;
		margin: 28px 0 0 18px;
		padding: 0;
	}
	button {
		border: 1px solid #fff;
		.icon-bar {
			background: #fff;
		}
	}
}
.navbar-nav {
	li {
		a {
			width: 102px;
			height: 90px;
			color: white;
			font-size: 14px;
			line-height: 60px;
			text-align: center;
			-webkit-transition: background 2s;
			-moz-transition: background 2s;
			-ms-transition: background 2s;
			transition: background 2s;
			&:hover,
			&:focus {
				background: rgba(66, 133, 244, 0.2);
				color: $pinkc;
				height: 88px;
				line-height: 58px;
				border-top: 2px solid $pinkc;
			}
		}
	}
}
.carousel-indicators li {
	width: 12px;
	height: 7px;
	-webkit-transition: width 1s;
	-moz-transition: width 1s;
	-ms-transition: width 1s;
	transition: width 1s;
}
.carousel-indicators .active {
	width: 40px;
	height: 7px;
	-webkit-transition: width 1s;
	-moz-transition: width 1s;
	-ms-transition: width 1s;
	transition: width 1s;
}
.section-title {
	margin-bottom: 45px;
	text-align: center;
	h2 {
		color: #4285f4;
		font-family: "Microsoft Yahei";
		font-size: 48px;
		font-weight: lighter;
	}
	h3 {
		display: inline-block;
		position: relative;
		margin-top: 0px;
		color: #0e1c33;
		&:after {
			content: "";
			position: absolute;
			top: 40px;
			left: 28px;
			width: 40px;
			border: 1px solid #4285f4;
		}
	}
}
.about {
	padding: 50px 0 90px;
	p {
		margin-bottom: 0px;
		color: #0e1c33;
		line-height: 25px;
		text-indent: 2em;
		text-align: center;
	}
}
/*.solution {
	padding: 50px 0 190px;
	background: #f6f9ff;
}
.solu-class {
	padding: 268px 58px 55px;
	text-align: center;
	transition: box-shadow 2s, transform 2s;
	&:nth-child(1) {
		background: url("../images/icon_zhibubaoar_nor.png")  center 85px no-repeat;
		&:hover {
			background: white url("../images/icon_zhibubaoar_sel.png")  center 85px no-repeat;
		}
	}
	&:nth-child(2) {
		background: url("../images/icon_appqianru_nor.png")  center 85px no-repeat;
		&:hover {
			background: white url("../images/icon_qianrushi_sel.png")  center 85px no-repeat;
		}
	}
	&:nth-child(3) {
		background: url("../images/icon_dingzhiapp_nor.png")  center 85px no-repeat;
		&:hover {
			background: white url("../images/icon_dingzhiapp_sel.png")  center 85px no-repeat;
		}
	}
	&:hover {
		box-shadow: 0 0 40px #4285c4;
		transform:rotateY(360deg);
	}
	p {
		padding-top: 20px;
		line-height: 25px;
	}
}*/
.solution {
	padding: 50px 0 190px;
	background: #f6f9ff;
}
.solu-class {
	overflow: hidden;
	padding: 0px 58px 55px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: box-shadow 2s, transform 2s;
	-moz-transition: box-shadow 2s, transform 2s;
	-ms-transition: box-shadow 2s, transform 2s;
	transition: box-shadow 2s, transform 2s;
	.solu {
		height: 268px;
		-webkit-transition: transform 2s;
		-moz-transition: transform 2s;
		-ms-transition: transform 2s;
		transition: transform 2s;
	}
	.icon1 {
		background: url("../images/icon_zhibubaoar_nor.png") center 85px no-repeat;
	}
	.icon2 {
		background: url("../images/icon_appqianru_nor.png") center 85px no-repeat;
	}
	.icon3 {
		background: url("../images/icon_dingzhiapp_nor.png") center 85px no-repeat;
	}
	&:hover {
		-webkit-box-shadow: 0 0 60px #4285c4;
		-moz-box-shadow: 0 0 60px #4285c4;
		-ms-box-shadow: 0 0 60px #4285c4;
		box-shadow: 0 0 60px #4285c4;
		background: white;
		-webkit-transform: translateY(-20px);
		-moz-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	&:hover .solu {
		/*transform: rotateY(360deg);*/
		-webkit-transform: scale(1.2, 1.2);
		-moz-transform: scale(1.2, 1.2);
		-ms-transform: scale(1.2, 1.2);
		transform: scale(1.2, 1.2);
	}
	&:hover .icon1 {
		background: url("../images/icon_zhibubaoar_sel.png") center 85px no-repeat;
	}
	&:hover .icon2 {
		background: url("../images/icon_qianrushi_sel.png") center 85px no-repeat;
	}
	&:hover .icon3 {
		background: url("../images/icon_dingzhiapp_sel.png") center 85px no-repeat;
	}
	p {
		padding-top: 20px;
		line-height: 25px;
	}
}
.display {
	position: relative;
	height: 413px;
	.video {
		width: 100%;
		height: 500px;
		background: black;
		video {
			width: 100%;
			height: 100%;
		}
	}
}
.show {
	padding: 298px 0 95px;
	background: #ecf3fe;
	a {
		position: relative;
		z-index: 1;
		display: block;
		width: 200px;
		height: 56px;
		margin: 0 auto;
		border: 1px solid #4285f4;
		line-height: 56px;
		color: #4285f4;
		text-align: center;
		text-decoration: none;
		font-size: 18px;
		border-radius: 28px;
		-webkit-transition: color 2s;
		-moz-transition: color 2s;
		-ms-transition: color 2s;
		transition: color 2s;
		&:after {
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			content: "";
			width: 200px;
			height: 56px;
			background: #4285f4;
			border-radius: 28px;
			-webkit-transition: transform 2s;
			-moz-transition: transform 2s;
			-ms-transition: transform 2s;
			transition: transform 2s;
			-webkit-transform: rotateY(90deg);
			-moz-transform: rotateY(90deg);
			-ms-transform: rotateY(90deg);
			transform: rotateY(90deg);
		}
		&:hover {
			color: white;
			&:after {
				-webkit-transition: transform 2s;
				-moz-transition: transform 2s;
				-ms-transition: transform 2s;
				transition: transform 2s;
				-webkit-transform: rotateY(0deg);
				-moz-transform: rotateY(0deg);
				-ms-transform: rotateY(0deg);
				transform: rotateY(0deg);
			}
		}
	}
}
.partner {
	padding: 55px 0 100px;
	.section-title {
		margin-bottom: 20px;
	}
	img {
		width: 100%;
	}
}
.contacts {
	padding: 100px 0;
	background: url("../images/bg.jpg");
	background-size: cover;
	.cont {
		&:nth-child(1) {
			padding-left: 90px;
			background: url("../images/icon_servicecall.png") 25px center no-repeat;
		}
		&:nth-child(2) {
			padding-left: 75px;
			background: url("../images/icon_phone.png") 25px center no-repeat;
		}
		&:nth-child(3) {
			padding-left: 75px;
			background: url("../images/icon_add.png") 25px center no-repeat;
		}

		span {
			display: block;
			height: 25px;
			color: white;
		}
	}
}
.copyright {
	padding: 30px 0 28px;
	background: black;
	em {
		display: inline-block;
		margin: 0 20px;
		font-weight: bolder;
	}
	.bottom-nav {
		color: white;
		text-align: center;
		a {
			color: white;
			&:hover {
				color: #4285f4;
			}
		}
	}
	p {
		margin-top: 58px;
		color: #888e98;
		text-align: center;
	}
}

@media screen and  (max-width: 758px) {
	.wrap {
		padding-top: 50px;
		.header {
			.navbar-brand {
				margin: 12px 0 0 18px;
			}
		}
	}
	.navbar-nav li a {
		width: 100%;
		height: 38px;
		padding: 0;
		line-height: 38px;
		&:hover {
			height: 38px;
			line-height: 38px;
			border: none;
		}
	}
	.section-title {
		margin-bottom: 25px;
		h2 {
			font-size: 30px;
		}
		h3 {
			font-size: 20px;
			&:after {
				top: 35px;
				left: 18px;
			}
		}
	} 
	.about {
		padding: 10px 0 20px;
	}
	/*.solution {
		padding: 10px 0;
		.solu-class {
			padding: 166px 38px 15px;
			text-align: center;
			&:nth-child(1) {
				background: url("../images/icon_zhibubaoar_nor.png")  center 25px no-repeat;
				&:hover {
					background: white url("../images/icon_zhibubaoar_sel.png")  center 25px no-repeat;
				}
			}
			&:nth-child(2) {
				background: url("../images/icon_appqianru_nor.png")  center 25px no-repeat;
				&:hover {
					background: white url("../images/icon_qianrushi_sel.png")  center 25px no-repeat;
				}
			}
			&:nth-child(3) {
				background: url("../images/icon_dingzhiapp_nor.png")  center 25px no-repeat;
				&:hover {
					background: white url("../images/icon_dingzhiapp_sel.png")  center 25px no-repeat;
				}
			}
		}
	}*/
	.solution {
		padding: 10px 0;
		.solu-class {
			.solu {
				height: 168px;
			}
			.icon1 {
				background: url("../images/icon_zhibubaoar_nor.png")  center 25px no-repeat;
			}
			.icon2 {
				background: url("../images/icon_appqianru_nor.png")  center 25px no-repeat;
			}
			.icon3 {
				background: url("../images/icon_dingzhiapp_nor.png")  center 25px no-repeat;
			}
			&:hover .icon1 {
				background: white url("../images/icon_zhibubaoar_sel.png")  center 25px no-repeat;
			}
			&:hover .icon2 {
				background: white url("../images/icon_qianrushi_sel.png")  center 25px no-repeat;
			}
			&:hover .icon3 {
				background: white url("../images/icon_dingzhiapp_sel.png")  center 25px no-repeat;
			}
		}
	}
	.display {
		height: auto;
		.video {
			height: 200px;
		}
	}
	.show {
		padding: 20px 0;
		a {
			width: 100px;
			height: 38px;
			line-height: 38px;
			font-size: 12px;
		}
	}
	.partner {
		padding: 10px 0 20px;
	}
	.contacts {
		padding: 20px 0;
		.cont {
			&:nth-child(1) {
				padding-left: 60px;
				background: url("../images/icon_servicecall.png") 25px center no-repeat;
				background-size: 7%;
			}
			&:nth-child(2) {
				padding: 10px 0 10px 60px;
				background: url("../images/icon_phone.png") 29px center no-repeat;
				background-size: 5%;
			}
			&:nth-child(3) {
				padding-left: 60px;
				background: url("../images/icon_add.png") 28px center no-repeat;
				background-size: 5%;
			}
			span {
				height: 15px;
				font-size: 12px;
			}

		}
	}
	.copyright {
		padding: 20px 0 15px;
		p {
			margin-top: 10px;
			padding: 0 10px;
			font-size: 12px;
		}
		em {
			margin: 0 5px;
		}
	}
}
@media (min-width: 1600px) {
	.container {
		width: 1200px;
	}
	.carousel {
		.item {
			height: 100%;
			img {
				height: 100%;
			}
		}
	}

}