@charset "UTF-8";
.other-body {
	float: right;
	width: 946px;
}
.other-side {
	position: fixed;
	top: 80px;
	width: 205px;
	padding-left: 1.5%;
}
.other-side ul {
	overflow: hidden;
	border: 1px solid red;
	border-radius: 5px;
}
.other-side ul li {
	height: 42px;
	margin-bottom: -1px;
	border-bottom: 1px solid red;
}
.other-side li a {
	display: block;
	padding: 0 15px;
	line-height: 42px;
}
.select-layout {
	padding: 10px 15px;
	border: 1px solid red;
	border-radius: 5px;
}
.select-layout span {
	float: right;
	width: 40px;
	height: 40px;
	margin-left: 5px;
	background: url("../images/view-ico.png");
	cursor: pointer;
}
.select-layout .sel-box {
	background-position: 0 -40px;
}
.select-layout .sel-list {
	background-position: -40px 0;
}
.select-layout em {
	float: right;
	height: 40px;
	line-height: 40px;
}
.course {
	border: none;
}
.course .course-list {
	margin: 10px 0 1px 0;
	border: 1px solid red;
	border-radius: 5px;
	box-shadow: none;
}
.course .course-box {
	float: left;
	width: 43%;
	min-height: 220px;
	margin: 10px 1% 0 1%;
	padding: 10px 2%;
	border: 1px solid red;
	border-radius: 5px;
}
.course-box p {
	overflow: hidden;
	height: 120px;
}
.read-info {
	padding-top: 10px;
}
.pages {
	margin-top: 20px;
	padding-left: 5px;
}
.pages ul {
	float: left;
}
.pages li {
	float: left;
	min-width: 28px;
	height: 28px;
	margin-right: 10px;
	padding: 5px;
	border: 1px solid red;
	line-height: 28px;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
}
.page-num {
	float: left;
	height: 40px;
	line-height: 40px;
}