.wrap .y-main {
	background: #fff;
}
/*searchInfor 研发资讯*/
.inforfind {
	width: 91.66%;
	padding: 0.42rem 4.17% 0.5rem;
}
.inforfind div {
	width: 100%;
	height: 2.5rem;
	box-shadow: 0 0 0 1px #ccc;
	border-radius: 5px;
}
.inforfind div input {
	display: block;
	width: 100%;
	height: 2.5rem;
	border: 0;
	line-height: 2rem;
	text-indent: 1em;
	outline: none;
	border-radius: 5px;
}
.inforfind div span {
	float: right;
	width: 10.32%;
	height: 2.5rem;
	margin-top: -2.5rem;
	background: url("../images/search_hyq.png") 0 center no-repeat;
	background-size: 56.25%;
}
.infomatic {
	background: #f3f3f3 url("../images/more.png") 93.13% 1.46rem no-repeat;
	background-size: 6.25%;
}
.infomatic h2 {
	padding-left: 12.19%;
}
.y-common1 h2 {
	line-height: 3.29rem;
	font-size: 1.17rem;
	box-shadow: 0 -1px 0 0 #d12626 inset;
}
.y-common1 h2 em {
	float: left;
	width: 78%;
	height: 3.29rem;
}
.y-common1 h2 a {
	float: left;
	width: 22%;
	height: 3.29rem;
}
.infomatic .select1 {
	background: url("../images/right.png") 5.78% center no-repeat;
	background-size: 2.5%;
}
.infomatic .select2 {
	background: url("../images/down.png") 5% center no-repeat;
	background-size: 4.3%;
	color: #d12626;
}
.information {
	display: none;
	box-shadow: 0 -1px 0 0 #d12626 inset;
}
.y-common1 ul {
	padding: 0 1.56% 0 1.56%;
	background: white;
}
.y-common1 ul li {
	padding: 1.04rem 9.5% 0.83rem 3.23%;
	box-shadow: 0 1px 0 0 #ccc;
}
.y-common1 ul li strong {
	display: block;
	overflow: hidden;
	height: 1.8rem;
	font-size: 1.17rem;
	text-overflow: ellipsis;
	word-break: keep-all;
	white-space: nowrap;
}
.y-common1 ul li span {
	display: block;
	color: #ccc;
	font-size: 0.92rem;
}
.y-common1 .sreport {
	padding-top: 1rem;
}
/*消息推送*/
.login-tab {
	background: #eee;
	line-height: 3.29rem;
	font-size: 1.17rem;
}
.login-tab span {
	float: left;
	height: 3.29rem;	
	color: #999999;
}
.login-tab span:nth-child(1) {
	width: 42%;
	padding-right: 8%;
	text-align: right;
}
.login-tab .bac1 {
	background: url("../images/sanjiao.png") 68% bottom no-repeat;
	background-size: 8.13%;
	color: black;
}
.login-tab span:nth-child(2) {
	width: 45%;
	padding-left: 5%;
}
.login-tab .bac2 {
	background: url("../images/sanjiao.png") 26% bottom no-repeat;
	background-size: 8.13%;
	color: black;
}
.capability .select1 {
	background: url("../images/right.png") 90.63% center no-repeat;
	background-size: 2.5%;
	padding-left: 7.19%;
}
.capability .select2 {
	background: url("../images/down.png") 91.63% center no-repeat;
	background-size: 4.59%;
	padding-left: 7.19%;
}
.cap-select {
	display: none;
}
/*汇添富民营活力*/
.wrap-fund-hyq .head h1,
.wrap-infm-hyq .head h1 {
    height: 2.75rem;
    padding-top: 0.58rem;
    line-height: 0;
}
.wrap-fund-hyq .head h1 strong,
.wrap-infm-hyq .head h1 strong {
    line-height: 1.5rem;
}
.wrap-fund-hyq .head h1 span,
.wrap-infm-hyq .head h1 span {
    font-size: 0.83rem;
    line-height: 1.25rem;
}
.main-infm {
    padding: 3.33rem 0 4rem 0;
}
.overview-hyq {
    width: 97%;
    padding: 0.71rem 0 0.54rem 3%;
    background-color: #b20202;
}
.overview-hyq span {
    float: left;
    width: 22%;
    height: 2rem;
    margin-right: 2.8%;
    -webkit-border-radius: 0.21rem;
    -moz-border-radius: 0.21rem;
    -ms-border-radius: 0.21rem;
    border-radius: 0.21rem;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    line-height: 2rem;
} 
.vita-select {
	box-shadow: 0 0 0 1px white;
}
.proinf {
    width: 96%;
    padding: 0.5rem 2% 0.92rem;
}
.proinf li {
    width: 100%;
    -webkit-box-shadow: 1px -1px 0 0 #dcdcdc,-1px -1px 0 0 #dcdcdc;
    -moz-box-shadow: 1px -1px 0 0 #dcdcdc,-1px -1px 0 0 #dcdcdc;
    -ms-box-shadow: 1px -1px 0 0 #dcdcdc,-1px -1px 0 0 #dcdcdc;
    box-shadow: 1px -1px 0 0 #dcdcdc,-1px -1px 0 0 #dcdcdc;
}
.proinf li:nth-child(6) {
    -webkit-box-shadow: 0 0 0 1px #dcdcdc;
    -moz-box-shadow: 0 0 0 1px #dcdcdc;
    -ms-box-shadow: 0 0 0 1px #dcdcdc;
    box-shadow: 0 0 0 1px #dcdcdc;
}
.proinf li span {
    overflow: hidden;
    float: left;
    width: 34%;
    height: 2.92rem;
    -webkit-box-shadow: 1px 0 0 0 #dcdcdc;
    -moz-box-shadow: 1px 0 0 0 #dcdcdc;
    -ms-box-shadow: 1px 0 0 0 #dcdcdc;
    box-shadow: 1px 0 0 0 #dcdcdc;
    color: #999;
    font-size: 1.17rem;
    text-align: center;
    line-height: 2.92rem;
}
.proinf li strong,
.proinf li em {
    overflow: hidden;
    float: left;
    width: 66%;
    height: 2.92rem;
    font-size: 1.17rem;
    text-align: center;
    line-height: 2.92rem; 
}
/*开户咨询*/
.dgf-main {
	background: white;
}
.consult-tip {
	padding: 1.58rem 6.72% 1.29rem 5.47%;
	background: #f3f3f3;
	color: #4b4b4b;
	font-size: 1.12rem;
	box-shadow: 0 1px 0 0 #d50000;
}
.consult-tip a {
	color: #d50000;
}
.enter-btn {
	display: block;
	height: 3.25rem;
	margin-top: 2.92rem;
	background: #d20001;
	line-height: 3.25rem;
	color: white;
	font-size: 1.5rem;
	text-align: center;
	border-radius: 5px;
}
.other-info {
	overflow: hidden;
	padding: 2.13rem 6.72% 1.29rem 5.47%;
	font-size: 1.17rem;
}
.btn-list {
	width: 109%;
}
.other-info .btn-list a {
	float: left;
	width: 42.35%;
	height: 3.75rem;
	margin-right: 7.16%;
	background: #f3f3f3;
	line-height: 3.75rem;
	text-align: center;
	border-radius: 5px;
}
.other-info ol {
	padding: 1.88rem 0 4.37rem 0;
}
.other-info ol li {
	overflow: hidden;
	height: 2.29rem;
	list-style: decimal inside;
	text-overflow: ellipsis;
	white-space: nowrap;

}