@charset "UTF-8";
html {
	background: #F8F8F8;
}
.skin,
.other-side ul,
.select-layout,
.course-list,
.course-box,
.article-con {
	background: white;
}
.course-list a,
.other-side a {
	color: #555;
}
.top-recommend dl dt a {
	background: url("../images/icons.jpg");
}
.contact-us li a {
	background: url("../images/friendlink.png") no-repeat;
}
.date {
	color: white;
}
.date-text {
	background: #666;
}
.web-white {
	box-shadow: 0 0 0 1px black;
}
.header a:hover,
.course a:hover,
.contact-us a:hover,
.other-side a:hover {
	color: #000;
}

.arc-con .code li {
	background: rgba(51, 153, 255, 0.1);
}
.arc-con .code li:nth-child(2n) {
	background: rgba(51, 153, 255, 0.2);
}
